<div class="control-group span5">
    <label class = "control-label">
        Attachments
    </label>
    <div class="controls">
    <input type="file" style="width: 210px;" id="FileUpload1" 
        name="FileUpload1" multiple="multiple" />
    <div id="attach" style="margin-top: 14px;">
        @Html.ActionLink("Download All", "DownloadAttachment", "Student")</div>
</div>
    </div>
