/*Prakshal infotech Pvt. Ltd.
Author : Parshav Shah
*/


/*first page css*/


body{
	font-size: 16px;
}
.navbar-parshav {
  background-color: #004a80;
  border-color: #004a80;
}
.navbar-parshav .navbar-brand {
  color: #fff;
}
.navbar-parshav .navbar-brand:hover,
.navbar-parshav .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-parshav .navbar-text {
  color: #fff;
}
.navbar-parshav .navbar-nav > li > a {
  color: #fff;
}
.navbar-parshav .navbar-nav > li > a:hover,
.navbar-parshav .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-parshav .navbar-nav > .active > a,
.navbar-parshav .navbar-nav > .active > a:hover,
.navbar-parshav .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #004a80;
}
.navbar-parshav .navbar-nav > .disabled > a,
.navbar-parshav .navbar-nav > .disabled > a:hover,
.navbar-parshav .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-parshav .navbar-toggle {
  border-color: #333;
}
.navbar-parshav .navbar-toggle:hover,
.navbar-parshav .navbar-toggle:focus {
  background-color: #333;
}
.navbar-parshav .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-parshav .navbar-collapse,
.navbar-parshav .navbar-form {
  border-color: #101010;
}
.navbar-parshav .navbar-nav > .open > a,
.navbar-parshav .navbar-nav > .open > a:hover,
.navbar-parshav .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #004a80;
}
@media (max-width: 767px) {
  .navbar-parshav .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #004a80;
  }
  .navbar-parshav .navbar-nav .open .dropdown-menu .divider {
    background-color: #004a80;
  }
  .navbar-parshav .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-parshav .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-parshav .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-parshav .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-parshav .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-parshav .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #004a80;
  }
  .navbar-parshav .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-parshav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-parshav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-parshav .navbar-link {
  color: #fff;
}
.navbar-parshav .navbar-link:hover {
  color: #fff;
}
.navbar-parshav .btn-link {
  color: #fff;
}
.navbar-parshav .btn-link:hover,
.navbar-parshav .btn-link:focus {
  color: #fff;
}
.navbar-parshav .btn-link[disabled]:hover,
fieldset[disabled] .navbar-parshav .btn-link:hover,
.navbar-parshav .btn-link[disabled]:focus,
fieldset[disabled] .navbar-parshav .btn-link:focus {
  color: #444;
}

.navbar-parshav{
	font-size: 16px;
	padding-top: 3px;

}

.bnr-img{
	/*padding-top: 50px;*/
  width: 400px;
height:350px !important;
}

.clrfix{
	padding-top: 20px;
}

.blbg{
	border-radius: 0px;
	background-color: #004a80;

}

.blbg .active{
	background-color: #fbcd40;

}

.btn-pr{
	border-radius: 0px;
	background-color: #e7e7e7;
	color: #8f4e0f !important;
	text-align: left;
	margin-bottom: 20px;
	margin-top: 20px;
}

.ptext{
	border-radius: 0px;

}



.tb-parshav tr th{
	color: #fff;
	border-bottom: 1px solid #e7e7e7;
	border-top: none !important;
}

.tb-parshav tr td{
	color: #fff;
	font-weight: normal;
	border: none !important;

}

.sptext{
	color: #fbcd40;
	font-weight: bold;
}

.footersp{
	background-color: #004a80;
width: 100% !important;
    bottom: 0% !important;
    position: fixed !important;
}

footer{
	color: #fff;
}

.icon-social{
	width: 30px;
	float: left;
	margin-left: 20px;
	padding-bottom: 20px;
}

@media (max-width: 400px){
.tb-parshav{
	font-size: 12px;	
  overflow: scroll;
}


}

/*sec page css*/


.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 0px;
    padding-right: 00px;
    padding-left: 00px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.bg_light_bl_btm{
  min-height: 30px;
  position: absolute;
  z-index: 5;
  background-color: rgba(0,74,128,0.7);
  margin-top: -30px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow:1px 1px 1px #000; 
  padding-top: 4px;
  transition: all 0.3s ease;
}

.bg_light_yl_btm{
  min-height: 30px;
  position: absolute;
  z-index: 5;
  background-color: rgba(255,198,22,0.9);
  margin-top: -30px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow:1px 1px 1px #000;
  padding-top: 4px;
  transition: all 0.3s ease;
}

.sp_img{
  z-index: 4;
  width: 100%;
  /*position: absolute;*/
}

/*.rt_div_90{
  transform: rotate(-90deg);
  transform-origin: right, top;
  margin-right: 10px;
      margin-top: -143px;
    margin-left: 113px;
}

.rt_div_90_lft{
  transform: rotate(-90deg);
  transform-origin: right, top;
  margin-right: 10px;
  margin-top: -142px;
  margin-left: -113px;
}
*/
.bg_light_bl_btm:hover{
  min-height: 150px;
  position: absolute;
  z-index: 5;
  background-color: rgba(0,74,128,0.8);
  margin-top: -155px;
  width: 100%;
  text-align: center;
  
  color: #fff;
  text-shadow:0px 10px 10px #000;
  padding-top: 15px;
  /*font-size: 20px;*/
  transition: all 0.3s ease;
}

.bg_light_bl_btm .cnt{
  display: none;
}

.bg_light_bl_btm:hover .cnt{
  display: block;
  font-weight: normal;
  padding: 10px;
}

.bg_light_yl_btm:hover{
  min-height: 150px;
  position: absolute;
  z-index: 5;
  background-color: rgba(255,198,22,0.9);
  margin-top: -155px;
  width: 100%;
  text-align: center;
  
  color: #fff;
  /*text-shadow:0px 10px 10px #000;*/
  padding-top: 15px;
  /*font-size: 20px;*/
  transition: all 0.3s ease;
}

.bg_light_yl_btm:hover .sp_text_head{
  background-color: rgba(0,74,128,0.9);
  padding: 10px 5px 10px 5px;
  border-radius: 2px;
  padding-top: -20px;
  color: #fff;
  text-shadow:none;
  /*box-shadow: 0px 1px 5px #000;*/
  margin-bottom: 20px;
}

.bg_light_bl_btm:hover .sp_text_head{
  background-color: rgba(255,198,22,0.9);
  padding: 10px 5px 10px 5px;
  border-radius: 2px;
  padding-top: -20px;
  color: #fff;
  text-shadow:none;
  /*box-shadow: 0px 1px 5px #000;*/
  margin-bottom: 20px;

}


.bg_light_yl_btm .cnt{
  display: none;
}

.bg_light_yl_btm:hover .cnt{
  display: block;
  font-weight: normal;
  padding: 10px;
}


/*for table sp*/

@media (min-width: 868px) {
    .table-responsive{
          overflow-x: visible;
    }
}

.hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.ft_stick{
  position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}