


	
			
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						    <li> <a href="#"><i class="fa-3x"></i><span class="hidden-tablet">Master Management</span></a></li>	
						 <li>
                        <a href="~/Masters/Position"><i class="icon-envelope"></i><span class="hidden-tablet">Designation Master</span></a></li>
						
						<li>  <a href="~/Masters/Payterm"><i class="icon-eye-open"></i><span class="hidden-tablet">  Payment Type Master</span></a></li>
						<li>     <a href="~/Masters/Country"><i class="icon-dashboard"></i><span class="hidden-tablet">  Country Master</span></a></li>
						 <li>  <a href="~/Masters/Permission"><i class="icon-lock"></i> <span class="hidden-tablet">   Permission</span> </a> </li>
						<li>   <a href="~/Masters/State"><i class="icon-edit"></i><span class="hidden-tablet"> State Master</span></a></li>
						<li><a href="~/Masters/City"><i class="icon-list-alt"></i><span class="hidden-tablet"> City Master</span></a></li>
                        <li>   <a href="~/Masters/Department"><i class="icon-font"></i><span class="hidden-tablet"> Department Master</span></a></li>
						<li>   <a href="~/Masters/Class"><i class="icon-font"></i><span class="hidden-tablet"> Course Master</span></a></li>
                        <li>   <a href="~/Masters/CourseYear"><i class="icon-font"></i><span class="hidden-tablet"> Course Year Master</span></a></li>
                        <li>   <a href="~/Masters/Division"><i class="icon-font"></i><span class="hidden-tablet"> Division Master</span></a></li>
						<li>  <a href="~/Masters/User"><i class="icon-picture"></i><span class="hidden-tablet">User Master</span></a></li>
						<li> <a href="~/Masters/Religion"><i class="icon-align-justify"></i><span class="hidden-tablet">Religion Master</span></a></li>
						<li>      <a href="~/Masters/Category"><i class="icon-calendar"></i><span class="hidden-tablet"> Category Master</span></a></li>
						<li>   <a href="~/Masters/Caste"><i class="icon-folder-open"></i><span class="hidden-tablet"> Cast Master</span></a></li>
						<li>    <a href="~/Masters/Subject"><i class="icon-star"></i><span class="hidden-tablet"> Subject Master</span></a></li>
						<li>  <a href="~/Masters/Qualification"><i class="icon-lock"></i><span class="hidden-tablet"> Qualification Master</span></a></li>
                           <li>
                        <a href="~/Masters/Occupation"><i class="icon-lock"></i>
                         <span class="hidden-tablet">   Occupation Master</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Masters/BloodGroup"><i class="icon-lock"></i>
                      <span class="hidden-tablet">      Blood Group Master</span>
                        </a>
                    </li>
                   

                    <li>
                        <a href="~/Masters/FeesLabels"><i class="icon-lock"></i>
                       <span class="hidden-tablet">     Fees Labels</span>
                        </a>
                    </li>

                    <li>
                        <a href="~/Masters/Route"><i class="icon-lock"></i>
                         <span class="hidden-tablet">   Route Master</span>
                        </a>
                    </li>

                   
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
		
		
                

		

    
       