
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
                      <li>
                        <a href="#"><i class="fa-3x"></i>
                            <span class="hidden-tablet">
                                 Student Management</span></a>
                
                            <li>
                                <a href="~/Student/Admission"><i class="icon-eye-open"></i>
                                    <span class="hidden-tablet">
    New Admission</span></a>
                            </li>
                            <li>
                                <a href="~/Student/Online_student_Mgmt" ><i class="icon-eye-open"></i>
                                    <span class="hidden-tablet">
        Manage Online Student</span></a>
                            </li>
                            <li>
                                <a href="~/Student/Index" ><i class="icon-eye-open"></i>
                                    <span class="hidden-tablet">
        Manage Student</span></a>
                            </li>
                            <li>
                                 <a href="~/Student/PromoteStudent" ><i class="icon-eye-open"></i>
                                     <span class="hidden-tablet">
            Promote Student</span></a>

                                 </li>
                                 <li>
                                 <a href="~/Student/GuardianList"><i class="icon-eye-open"></i>
                                     <span class="hidden-tablet">
                Guardian List</span></a>
                                 </li>
                      	</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
